@import "~bootswatch/dist/flatly/variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/flatly/bootswatch";

body {
    background-color: lightgray;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}