<div class="form-check">
    <label class="form-check-label">
        <input class="checkbox" type="checkbox">
        {{ todo.title }}
        <i class="input-helper"></i>
    </label>
</div>
<i class="fa fa-close"></i>
{{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}
{{ include('todo/_delete_form.html.twig') }}