{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('todo') }}
{% endblock %}

{% block body %}
  <h1>Todo index</h1>
  <div id="app"></div>
{% endblock %}
