{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
  <div>
    <h1>Welcome to BlackBlog</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
    {{ include('blog/_post_list.html.twig', {posts: posts}) }}
  </div>
{% endblock %}
