<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>BlackNotes | {% block title %}Home{% endblock %}</title>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body class="">
{% block header %}
  {% include 'layouts/header.html.twig' %}
{% endblock %}
<main role="main" class="container p-4" style="min-height: 400px;">
  {% block body %}
  <div class="row">
    <div id="main" class="col-sm-9">
      {% block main %}{% endblock %}
    </div>
    <div id="sidebar" class="col-3">
      {% block sidebar %}{% endblock %}
    </div>
    {% endblock %}
  </div>
</main>
{% block footer %}
  {% include 'layouts/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
