{% extends 'base.html.twig' %}

{% block title %}Edit post{% endblock %}

{% block main %}
  <h1>Edit Post</h1>
  {{ include('post/_form.html.twig', {'button_label': 'Update post'}) }}
{% endblock %}

{% block sidebar %}
  <a href="{{ path('post_index') }}" class="btn btn-link btn-lg"><< Back to list</a>
  {{ include('post/_delete_form.html.twig') }}
{% endblock %}